pkgbase = linux-xanmod-cacule-uksm
	pkgdesc = Linux Xanmod. Branch with Cacule scheduler by Hamad Marri
	pkgver = 5.14.1
	pkgrel = 1
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = cpio
	makedepends = python3
	makedepends = pahole
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.14.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.14.tar.sign
	source = https://github.com/xanmod/linux/releases/download/5.14.1-xanmod1-cacule/patch-5.14.1-xanmod1-cacule.xz
	source = https://raw.githubusercontent.com/dolohow/uksm/master/v5.x/uksm-5.14.patch
	source = sphinx-workaround.patch
	source = kconfig
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 7e068b5e0d26a62b10e5320b25dce57588cbbc6f781c090442138c9c9c3271b2
	sha256sums = SKIP
	sha256sums = c7a49605ceb4a9f50ba96fc19ec3073907b2628c9d2faebca705d14160afba30
	sha256sums = 0b4b31fd91628c3ac35aa18ae4a78900ba03474451a64d5ad17b1f8b00d095b7
	sha256sums = 74339b8ad0ad99f08606c5de0dd3c38f502e29e5c6a78d6efbe656662edb8d73
	sha256sums = 74f3901bba4a96d31a5187e9adf9b6ebc991665e86fefb1eb1963c5f0cb016ab

pkgname = linux-xanmod-cacule-uksm
	pkgdesc = The Linux kernel and modules with Xanmod patches
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices

pkgname = linux-xanmod-cacule-uksm-headers
	pkgdesc = Header files and scripts for building modules for Xanmod Linux kernel
