pkgbase = linux-xanmod-cacule-uksm
	pkgdesc = Linux Xanmod. Branch with Cacule scheduler by Hamad Marri
	pkgver = 5.12.10
	pkgrel = 1
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = cpio
	makedepends = python3
	makedepends = pahole
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.12.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.12.tar.sign
	source = https://github.com/xanmod/linux/releases/download/5.12.10-xanmod1-cacule/patch-5.12.10-xanmod1-cacule.xz
	source = sphinx-workaround.patch
	source = 0002-UKSM.patch
	source = kconfig
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 7d0df6f2bf2384d68d0bd8e1fe3e071d64364dcdc6002e7b5c87c92d48fac366
	sha256sums = SKIP
	sha256sums = 04416f1da8d36178f2f2993c00735957a5d6505aa9150b8d60c796feb8103c1b
	sha256sums = 74339b8ad0ad99f08606c5de0dd3c38f502e29e5c6a78d6efbe656662edb8d73
	sha256sums = f00a84fd382d63cd0d47d6fd8ef6c8608b1c83ff9d6dbdd32cb985898afbbf58
	sha256sums = 8694f20e86e8b67c7583468adba895aea15d52a56c85371d386aee27a94e4027

pkgname = linux-xanmod-cacule-uksm
	pkgdesc = The Linux kernel and modules with Xanmod patches
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices

pkgname = linux-xanmod-cacule-uksm-headers
	pkgdesc = Header files and scripts for building modules for Xanmod Linux kernel
